@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background-start: 154, 190, 241;
  --background-end: 171, 197, 230;
  --violet: 170, 42, 187;
  --information: 95, 206, 191;
  --highlight-dark: 255, 173, 20;
  --text-dark: 206, 204, 204;
  --highlight-light: 216, 97, 0;
  --foreground-dark: 255, 255, 255;
  --background-start-dark: 10, 32, 58;
  --background-end-dark: 0, 0, 0;
}

.dark {
  --foreground: 255, 255, 255;
  --background-start: 10, 32, 58;
  --background-end: 0, 0, 0;
}

body {
  display: grid;
  grid-template-rows: 15vh auto auto auto;
  place-items: center;
  min-height: 100vh;
  color: rgb(var(--foreground));
  background: rgb(var(--background-start));
}
